<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinkDev.Libraries.Common" version="1.5.2" targetFramework="net462" developmentDependency="true" />
  <package id="LinkDev.Libraries.EnhancedOrgService" version="1.2.2" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.0.7" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.0.7" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.0.7" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.0.7" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Cors" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Diagnostics" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.SelfHost" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Nancy" version="1.4.4" targetFramework="net461" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="Ninject.Extensions.NamedScope" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Web.Common" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Web.Common.OwinHost" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Web.WebApi" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Web.WebApi.OwinHost" version="3.3.0" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net461" />
</packages>