#parent-container
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: min-content 0 minmax(0, auto) min-content;

	overflow: hidden;

	#log-outer-container
	{
		display: none;
		margin: 2px 2px 19px 2px;
		
		height: 125px;
		min-height: 125px;
		max-height: 70vh;
		max-width: calc(100vw - 3px);

		#log-container
		{
			display: flex;
			height: 100%;
			width: 100%;

			#log
			{
				overflow: auto;
				padding: 5px;
				width: 100%;

				.error
				{
					color: white;
					background-color: red;
				}

				.warning
				{
					color: black;
					background-color: yellow;
				}
			}

			#log-toolbar
			{
				display: flex;
				flex-direction: column;
				
				background-color: #e8e5e5;
				border-left: 1px solid rgb(201, 200, 200);
				padding: 2px;

				button
				{
					margin-top: 2px;
					margin-bottom: 2px;
				}
			}
		}
	}

	#toggle-button
	{
		position: fixed !important;
		bottom: 20px !important;
		left: 0;
	}

	.float-log
	{
		display: flex !important;
		flex-direction: column;

		opacity: 0 !important;
		width: 100px !important;
		animation: slide-in 0.5s forwards;
	}
	
	@keyframes slide-in
	{
		100% { width: calc(100% - 3px); opacity: 1; }
	}
}
